/* Plato.css */
.plato-container {
    display: flex;
    align-items: center;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
  }
  
  .imagen-plato {
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .descripcion-plato {
    font-family: 'Britannic', sans-serif;
    color: #24535B;
    padding: 0.5rem;
    text-align: left;
  }