.inicio {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    padding: 10%;
    background-color: beige;
    width: 90%;
  }
  
  .left-column, .center-column, .right-column {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin: 5% 2% 5% 5%;

  }
  
  .left-column > *, .right-column > * {
    margin-bottom: 30px;
  }
  
  .left-column > *:last-child, .center-column>*:last-child, .right-column > *:last-child {
    margin-bottom: 0;
  }
  
  .cabezote, .navbar, .footer {
    width: 100%;
  }
  /* .right-column{
    justify-content: space-between;
  }
  .center-column{
    justify-content: space-between;
  } */